*{
    font-family: Manrope;
    background-color: #000000;
    color: #ffffff;
    font-size: 16px;
}
h1{
    font-size: 1.6rem;
}
h2{
    font-family: "Inconsolata";
    color: #25d162;
    font-size: 1.2rem;
}
body{
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top:0.5rem;
}
header{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    
}
ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    align-items: center;
}
a{
    text-decoration: none;
}
li:hover{
    color:#25d162;
    text-decoration: underline;
    text-decoration-color: #ffffff;
    text-underline-offset: 0.6rem;
}

.on{
    color:white;
    text-decoration: underline;
    text-decoration-color: #25d162;
    text-underline-offset: 0.6rem;
    text-shadow: -4px 4px 4px white;
       
}
li{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    color:#8f8383;
    padding-left: 1.5rem;
    padding-top: 0.2rem;
}
main{
    height:90vh;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}
article{
    width: 25%;
    min-width: 16rem;
    padding-left: 25%;
    line-height: 2rem;
    margin: auto;
}
aside{
    display: flex;
    justify-content: center;
    width: 25%;
    min-width: 17rem;
    padding-right: 25%;
    
}
.foto{
    max-height: 16rem;
    max-width: 17rem; 
    border-radius: 100%;
    overflow: hidden;
    border: #25d162 solid 0.3rem;
    display: flex;
    align-items: center;
    box-shadow: 0 0px 20px 6px #25d162;
}
img{
    height:auto;
    width:100%;

}

@media screen and (max-width: 1260px){
    main{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
    article{
        height: 45%;
        padding-left: 0;
        text-align: center;
    }
    aside{
        height: 45%;
        align-items: end;
        padding-right:0;
    } 
}

@media screen and (max-width: 900px){
    header{        
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        justify-content: center;
    }
    ul{
        display: flex;
        flex-wrap: wrap;
        flex-direction:column;
        justify-content: center;
        padding: 0;
    }
    li{
        padding-left: 0;
        margin-bottom: 2rem;
    }
    .foto{
        max-height: 14rem;
        max-width: 14rem; 
    }
}
