*{
    font-family: Manrope;
    background-color: #000000;
    color: #ffffff;
    font-size: 16px;
}
strong{
    color:#25d162;
    background-color: transparent;
}
p{
    background-color: transparent;
}
h1{
    font-size: 1.6rem;
}
h2{
    font-family: "Inconsolata";
    color: #25d162;
    font-size: 1.2rem;
}
body{
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top:0.5rem;
}
header{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    
}
ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    align-items: center;
}
a{
    text-decoration: none;
}
li:hover{
    color:#25d162;
    text-decoration: underline;
    text-decoration-color: #ffffff;
    text-underline-offset: 0.6rem;
}

.on{
    color:white;
    text-decoration: underline;
    text-decoration-color: #25d162;
    text-underline-offset: 0.6rem;
    text-shadow: -4px 4px 4px white;
       
}
li{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-height: 2.5rem;
    align-items: center;
    justify-content: space-around;
    color:#8f8383;
    padding-left: 1.5rem;
    padding-top: 0.2rem;
}
li img{
    height:100%;
    width:auto;
    margin-top:-0.3rem;
}
main{
    height:90vh;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}
article{
    width: 25%;
    min-width: 16rem;
    padding-left: 25%;
    line-height: 2rem;
    margin: auto;
}
aside{
    display: flex;
    justify-content: center;
    width: 25%;
    min-width: 17rem;
    padding-right: 25%;
    
}
.foto{
    max-height: 17rem;
    max-width: 17rem; 
    border-radius: 100%;
    overflow: hidden;
    border: #25d162 solid 0.3rem;
    display: flex;
    align-items: center;
    box-shadow: 0 0px 20px 6px #25d162;
}
img{
    height:auto;
    width:100%;
}

.about{
    min-height:60vh;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    background-color: #2b2b2b;
    margin-top: 1rem;
    border-radius: 2rem;
}
.about_header{
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    background-color: transparent;
    align-items: center;
}
.about_header h2{
    background-color: transparent;
    min-width: 7%;
    margin-left: 2rem;
}
.about_header hr{
    width: 32%;
    height: 0.1rem;
    background-color: #ffc300;
    margin-left: 1rem;
}
.pic{
    width: 45%;
    background-color:transparent;    
    align-items: center;
    display: flex;
    justify-content: center;
}
.pic .foto{
    max-height: 17rem;
    max-width: 17rem; 
    border-radius: 100%;
    overflow: hidden;
    border: #25d162 solid 0.3rem;
    display: flex;
    align-items: center;
    box-shadow: none;
}
.container_pres{
    width: 55%;
    background-color: transparent;
}
.presentazione{    
    background-color: transparent;
    margin-right: 2rem;
    text-align: justify;
}
.contatti {
    width:70%;
    margin:1.5rem auto 1.5rem;
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
.linkedin, .mail{
    background-color: transparent;
    align-self: center;
}
.linkedin a, .mail a{
    background-color: transparent;
}
.contatti .in{
    height: 3rem;
    width: auto;
    background-color: transparent;
}
@media screen and (max-width: 1260px){
    main{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
    article{
        height: 45%;
        padding-left: 0;
        text-align: center;
    }
    aside{
        height: 45%;
        align-items: center;
        padding-right:0;
    } 
}

@media screen and (max-width: 900px){
    header{        
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        justify-content: center;
    }
    ul{
        display: flex;
        flex-wrap: wrap;
        flex-direction:column;
        justify-content: center;
        padding: 0;
    }
    li{
        padding-left: 0;
        margin-bottom: 2rem;
    }
    .foto{
        height: 100%;
        max-height: 12rem;
        max-width: 12rem; 
    }
    .about{
        min-height:60vh;
        display:flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
        align-items: center;
        background-color: #2b2b2b;
        margin-top: 1rem;
        border-radius: 2rem;
    }
    .about_header{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
        width: 100%;
        background-color: transparent;
    }
    .about_header h2{
        min-width: 7%;
        margin-left:0;
    }
    .about_header hr{
        min-width: 50%;
        height: 0.1rem;
        background-color: #ffc300;
        margin-left: 0;
        margin-top: -0.3rem;
    }
    .pic{
        width: 100%;
        background-color:transparent;    
        align-items: center;
        display: flex;
        justify-content: center;
        margin-top: 1rem;
    }
    .pic .foto{
        max-height: 12rem;
        max-width: 12rem; 
        border-radius: 100%;
        overflow: hidden;
        border: #25d162 solid 0.3rem;
        display: flex;
        align-items: center;
        box-shadow: none;
    }
    .container_pres{
        width: 100%;
        background-color: transparent;
    }
    .presentazione{    
        background-color: transparent;
        margin: auto;
        padding: 0 1rem;
        text-align: justify;
    }
}